<a href="#">
	<div id="jumbotron">
		<%= image_tag("coololdguy.jpg") %>
		<div id="blue-guy">
			<div id="inner">
				<div id="blue-1">
					WINTER - SPRING
				</div>
				<div id="blue-2">
					2016 COLLECTION
				</div>
				<div id="blue-3">
					Sugar plum sugar plum dessert ice cream pudding pastry jelly-o halvah sweet. Cotton candy candy canes macaroon cheesecake bonbon.
				</div>
				<div id="blue-4">
					View Collection
				</div>
			</div>
		</div>
	</div> <!-- jumbotron end -->
</a>
<div class="range">
	<%= link_to products_path do %>
		<h5>See all products</h5>
		<h2>NEW ARRIVALS</h2>
	<% end %>
	
    <% @products.each do |x| %>
      <div class="shot">
        <%= link_to product_path(x) do %>
          <%= image_tag(x.image.url(:medium))%>
          <div class="title"><%= x.title %></div>
          <div class="price"><%= x.price %></div>
        <% end %>
      </div>
    <% end %>
    
</div> <!-- Range End -->

<div id="aff">
	<div class="guy"><%= image_tag("a1.png") %></div>
	<div class="guy"><%= image_tag("a2.png") %></div>
	<div class="guy"><%= image_tag("a3.png") %></div>
	<div class="guy"><%= image_tag("a4.png") %></div>
	<div class="guy"><%= image_tag("a5.png") %></div>
	<div class="guy"><%= image_tag("a6.png") %></div>
	<div class="guy"><%= image_tag("a7.png") %></div>
</div> <!-- aff end -->