<a href="#">
	<div id="jumbotron">
		<%= image_tag("coololdguy.jpg") %>
		<div id="blue-guy">
			<div id="inner">
				<div id="blue-1">
					WINTER - SPRING
				</div>
				<div id="blue-2">
					2016 COLLECTION
				</div>
				<div id="blue-3">
					Sugar plum sugar plum dessert ice cream pudding pastry jelly-o halvah sweet. Cotton candy candy canes macaroon cheesecake bonbon.
				</div>
				<div id="blue-4">
					View Collection
				</div>
			</div>
		</div>
	</div> <!-- jumbotron end -->
</a>
<div class="range">
	<a href="#">
		<h5>See all products</h5>
		<h2>NEW ARRIVALS</h2>
	</a>
	<div class="shot">
		<a href="#">
			<%= image_tag("dude1.png") %>
			<div class="title">
				Printed Jacquard Dress
			</div>
			<div class="price">
				$340.00
			</div>
		</a>
	</div>
	<div class="shot">
		<a href="#">
		    <%= image_tag("dude2.png") %>
			<div class="title">
				Printed Jacquard Dress
			</div>
			<div class="price">
				$340.00
			</div>
		</a>
	</div>
	<div class="shot">
		<a href="#">
			<%= image_tag("hat1.png") %>
			<div class="title">
				Printed Jacquard Dress
			</div>
			<div class="price">
				$340.00
			</div>
		</a>
	</div>
	<div class="shot">
		<a href="#">
			<%= image_tag("dude3.png") %>
			<div class="title">
				Printed Jacquard Dress
			</div>
			<div class="price">
				$340.00
			</div>
		</a>
	</div>
</div> <!-- Range End -->
<div class="range">
	<div class="shot">
		<a href="#">
			<%= image_tag("dude4.png") %>
			<div class="title">
				Printed Jacquard Dress
			</div>
			<div class="price">
				$340.00
			</div>
		</a>
	</div>
	<div class="shot">
		<a href="#">
		    <%= image_tag("dude5.png") %>
			<div class="title">
				Printed Jacquard Dress
			</div>
			<div class="price">
				$340.00
			</div>
		</a>
	</div>
	<div class="shot">
		<a href="#">
		    <%= image_tag("hat2.png") %>
			<div class="title">
				Printed Jacquard Dress
			</div>
			<div class="price">
				$340.00
			</div>
		</a>
	</div>
	<div class="shot">
		<a href="#">
			<%= image_tag("hat3.png") %>
			<div class="title">
				Printed Jacquard Dress
			</div>
			<div class="price">
				$340.00
			</div>
		</a>
	</div>
</div> <!-- Range End -->
<div id="aff">
	<div class="guy"><%= image_tag("a1.png") %></div>
	<div class="guy"><%= image_tag("a2.png") %></div>
	<div class="guy"><%= image_tag("a3.png") %></div>
	<div class="guy"><%= image_tag("a4.png") %></div>
	<div class="guy"><%= image_tag("a5.png") %></div>
	<div class="guy"><%= image_tag("a6.png") %></div>
	<div class="guy"><%= image_tag("a7.png") %></div>
</div> <!-- aff end -->