<h3> purchase page </h3>

<%= form_tag "", id: "payment-form" %>

  <span class="payment-errors"></span>
  
  <div>
    <%= label_tag :card_number %>
    <%= text_field_tag :number,"4242424242424242", "data-stripe" => "number" %>
  </div>
  
  <div>
    <%= label_tag :cvc %>
    <%= text_field_tag :number,"123", "data-stripe" => "cvc" %>
  </div>

  expiration month and year
  <div>
    <%= label_tag :month %>
    <%= text_field_tag :number,"10", "data-stripe" => "exp-month" %>
  </div>
  
  <div>
    <%= label_tag :year %>
    <%= text_field_tag :number,"2020", "data-stripe" => "exp-year" %>
  </div>

<button type="submit">Submit Payment</button>


<script>
    jQuery(function($) {
      $('#payment-form').submit(function(event) {
        var $form = $(this);
    
        // Disable the submit button to prevent repeated clicks
        $form.find('button').prop('disabled', true);
    
        Stripe.card.createToken($form, stripeResponseHandler);
    
        // Prevent the form from submitting with the default action
        return false;
      });
    });
</script>