			<div id="showoff">
				<div id="leftie">	
					<%= image_tag("matrixclothes1.jpg") %>
				</div><!-- leftie end -->
				<div id="rightie">
					<div id="type">
						<%= @product.category %>
					</div>
					<div id="title">
						<%= @product.title %>
					</div>
					<div id="price">
						<span class="cancel">
							<s>$340.00</s>
						</span>
						<span class="actual">
							<%= number_to_currency(@product.price)%>
						</span>
					</div>
					<div id="description">
					    <%= @product.description %>
					</div>
					<a href="#" class="nodec">
						<div id="hurryupandbuy">
							PURCHASE
						</div>
					</a>
					<hr class="thin">
					<div class="extras"><span>SKU:</span> 4625</div>
					<div class="extras"><span>Need help:</span> 718 559 8686</div>
					<div class="extras"><span>Order by phone:</span>  718 559 8686</div>
					<div class="extras"><span class="bluez">Free shipping and Free return</span></div>
				</div><!-- rightie end -->
			</div> <!-- showoff end -->
			<div id="splinter">
				<div id="north">
					<section>DESCRIPTION</section>
					<section>ADDITIONAL INFORMATION</section>
					<section>REVIEW</section>
					<hr class="raisethebar">
					<div class="north-west">
						Topping soufflé apple pie cake dessert cupcake sweet roll chocolate chupa chups. Sugar plum gingerbread tart cotton candy. Liquorice marshmallow pudding dessert chocolate marzipan chocolate bar cookie. Marshmallow chocolate cake marzipan bonbon. Jelly souffle. Apple pie cake dessert cupcake sweet roll chocolate. Jelly souffle marzipan lolerskates.
					</div>
					<hr class="raisethebar">
				</div>
			</div>