<!DOCTYPE html>
<html>
  <head>
    <title>AraApp - Buy Weird Men's Clothing</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Karla:400,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Vollkorn:400italic' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
    <script type="text/javascript">
      Stripe.setPublishableKey('pk_test_6pRNASCoBOKtIshFeQd4XMUh');
    </script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="page">
      <div id="nav">
        <%= link_to "ARA SHOP", root_url, id: "logo" %>
        <%- if current_user %>
           <%= link_to "NEW PRODUCT", new_product_path, class: "menu" %>
           <%= link_to "LOGOUT", destroy_user_session_path, class: "menu", method: "delete" %>
        <% else  %>
           <%= link_to "LOGIN", new_user_session_path, class: "menu" %>
        <% end %>
        <%= link_to "SHOP", products_path, class: "menu" %>
        <%= link_to "HOME", root_url, class: "menu" %>
      </div>
      <!-- nav end -->
      <div id="content">
        <% flash.each do |key,value| %>
            <div id="<%= key %>">
                <%= value %>
            </div>
        <% end %>
        <%= yield %>
      </div>
      <!-- content end -->
      <div id="spit">
        <div class="barz">
          <div class="top">FREE SHIPPING</div>
          <div class="bottom">Sed eget ipsum sed ipsum tempus fringilla</div>
        </div>
        <div class="barz">
          <div class="top">FREE RETURN</div>
          <div class="bottom">Sed eget ipsum sed ipsum tempus fringilla</div>
        </div>
        <div class="barz">
          <div class="top">ORDER TRACKING</div>
          <div class="bottom">Sed eget ipsum sed ipsum tempus fringilla</div>
        </div>
      </div>
      <!-- spit end -->
      <%= image_tag("map.png", width: '100%', class: "map") %>
      <div id="footer">
        <a href="#" class="feet">About Us</a>
        <a href="#" class="feet">Visit Shop</a>
        <a href="#" class="feet">Faqs</a>
        <a href="#" class="feet">Order Tracking</a>
      </div>
      <!-- footer end -->
    </div>
    <!-- page end -->
  </body>
</html>